{% extends "base.html" %}

{% block content %}

<div class="hero">

    <div class="hero-container">

        <!-- LEFT IMAGE -->
        <div class="hero-image">
            <img src="/static/images/Mobile.png" alt="app">
        </div>

        <!-- RIGHT CONTENT -->
        <div class="hero-text">
            <h1>💳 AI Personal Banking Assistant</h1>
            <p><h3>Your Intelligent Financial Companion</h3></p>

            <a href="/dashboard">
                <button>Start Analysis</button>
            </a>
        </div>

    </div>

</div>

{% endblock %}